.App {
  text-align: center;
}

#login-form {
  margin-top: 20vh;
  margin-bottom: auto;
}

#logout-btn {
  margin-top: 10vh;
}

#todo-list {
  list-style-type:circle;
}

#get-friends-btn {
  margin-top: 15vh;
}

#friends-list {
  list-style: none;
  margin-top: 8vh;
}